.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 10px;
  overflow: scroll;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.box {
  border: 5px solid transparent;
  width: 75%;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
  color: #000;
  font-style: bold;
  background-color: #FFF;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.box:focus {
  border: 5px dashed #33C1FF;
}

.box:hover {
  background-color: #33C1FF;
}


.link {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.link:hover {
  color: #33C1FF;
}

.button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
}

.button:hover  {
  background-color: #33C1FF;
}

.button:focus {
   background-color: #33C1FF;
   border: 0;
}